/*

Designfolio brown color scheme.
All tags that have a color attribute are located here.

*/

body {
background: #fafafa;
color: #373737;
}

th, a:link, a:visited, h1, h2, h3, .site-title, .page-title, .entry-title, .nivo-caption a, .pc_info_widget .phone, .comment-author {
color: #1A3B8E; /* Mahesh- for footer copy right text to be white, need blue for page-title*/
}

a:hover {
color: #0095cd;
text-decoration: underline;
}

#header-container nav li a:hover, #header-container nav ul ul li a:hover, #site-title a:hover, #header-container nav.secondary-menu ul ul li a:hover {
/*color: #0095cd;*/
color: orange; /* Mahesh */
}

#header-container {
background: transparent;
}

.footer-widget-container {
background: url("../../../images/bg_footer_bot.jpg") repeat-x scroll left top #D8D8E1; /*Mahesh */
}

#header-container nav.primary-menu ul li.current_page_item > a:after {
content: "";
border-top-color: #1F215C; /* Mahesh */
}

footer {
/*padding-top: 4px;
border-top: 1px dotted #dddcd6; */ /*Mahesh */
/*Mahesh */
background: #696B73;
color: #fff;
/*Mahesh*/
}

#header-container nav.primary-menu {
background: url("../../../images/menu_bg.jpg") repeat-x scroll left bottom #1A3B8E; /* Mahesh */
}

#header-container nav li a {
color: #FFF; /* Mahesh */
}

#header-container:after {
content: "";
display: block;
height: 0;
background: none;
border-bottom: none;/*Mahesh */
position: relative;
bottom: -4px;
}

nav ul ul {
background: #dddcd6;
}

#header-container nav.secondary-menu li a {
color: #555;
}

#header-container nav.secondary-menu li a:hover {
color: #0095cd;
}

#header-container nav.secondary-menu ul ul li a {
color: #333;
}

nav.secondary-menu ul ul {
background: #dddcd6;
}

#header-container nav.secondary-menu {
background: #dddcd6;
}

#site-title a {
color: #1A3B8E;/* Mahesh */
}

#site-description {
color: #555;
}

/* Mahesh */
/*
#before-content .flex-container {
border-top: 1px solid #dddcd6;
border-bottom: 1px solid #dddcd6;
} */

.flex-direction-nav {
border-top: none; /* Mahesh */
}

#before-content .flex-direction-nav {
border-top: none;
}

/* Mahesh */
#before-content .flex-direction-nav li a {
top: auto;
}


.flex-direction-nav a.flex-prev {
background: url(../../../images/arrow-lt.png) no-repeat center center orange;
}

.flex-direction-nav a.flex-next {
background: url(../../../images/arrow-rt.png) no-repeat center center orange;
}

.flex-direction-nav a.flex-prev:active, .flex-direction-nav a.flex-next:active {
background-color: #998a63;
}


#before-content ol.flex-control-nav {
position: relative;
left: 57%;
max-width: 20%;
top: 0;
}


ol.flex-control-nav li a {
background: #fafafa;
border: 2px solid #DDDCD6; /*mahesh */
}

ol.flex-control-nav li a.flex-active {
background: #DDDCD6;
border: none;
}

.widget-title {
color: #1A3B8E;
}

footer .widget-title {
border-bottom: none;
color: #696B73;/* Mahesh*/
margin-bottom: 0px;
}


.content ul li, .widget ul li {
border-bottom: 2px solid orange;/* Mahesh */
}

.pc_content_slider_widget ul li {
border-bottom: none;
}

#footer-widget-area ul li {
border-bottom: none;
}

.note, .warning, .alert, .error, .download {
color: #444;
}

.note {
background: #eee;
border: 1px solid #ccc;
}

.warning, .alert {
background: #fffbbc;
border: 1px solid #E6DB55;
}

.error {
background: #ffebe8;
border: 1px solid #C00;
}

.download {
background: #e4ebf8;
border: 1px solid #2e68d4;
}

.line { 
border-top: 1px dotted #dddcd6;
}

a.button, #searchsubmit, #submit, .submit, a.post-edit-link, a.more-link {
color: #ffffff;
}

.post, .sidebar-container .widget {
border-bottom: 1px dotted #dddcd6;
}

.post-date {
background: #dddcd6;
color: #777;
font-weight: normal;
font-size: 16px;
}

.post-meta p {
color: #777;
}

p.author:after {
content: "";
background: #dddcd6;
}

.post-meta span.comments, .post-meta span.tags {
border-left: 1px solid #dddcd6;
}

.comment-body, li.pingback {
background: #fff;
}

.comment-meta a {
color: #888888;	
}

.avatar {
border: 2px solid #fff;
}

div.reply a {
color: #888888;
}

.quote {
color: #777;
}

.quote:before {
border-right:15px solid #fff;
}

#author, #email, #url, #comment {
color: #555555;
}

.form-allowed-tags {
color: #999;
}

/*
---TARUN---
textarea, input,*/ 
.comment-body, li.pingback, .quote {
background: #dddcd6;
border: none;
}

.defaultbox {
background: #dddcd6;
}

.comment-body:before {
content: "";
border-left-color: #dddcd6;
}

.quote:before {
content: "";
border-right-color: #dddcd6;
}

#body-container .twtr-widget .twtr-tweet a {
color: #1A3B8E !important;
}

#body-container .twtr-widget .twtr-doc, #body-container .twtr-widget .twtr-hd a, #body-container .twtr-widget h3, #body-container .twtr-widget h4  {
background-color: #dddcd6 !important;
}

/* Mahesh */
#container .pc_content_slider_widget {
margin-bottom: 0px;
}

.one-col .content {
padding-top: 0px;
}

/** Footer **/


footer .pc_info_widget .phone, footer .pc_twitter_feed_widget {
color: #696B73; /* Mahesh */
}

.footer-widget-container {
color: #eeeeee;
}

.footer-widget-container a, .footer-widget-container a:visited {
color: #696B73;/* Mahesh*/
}

.footer-widget-container a:hover {
color: #0095cd;
}

.footer-widget-container .quote {
color: #444;
}

/* Light Blue (default) */
.defaultbtn, .btn, #searchsubmit, #submit, .submit, .post-edit-link, .more-link, input[type="submit"], ul#filters li a {
   color: #fff;
   background: #0095cd;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   text-decoration: none;
   vertical-align: middle;
}
.defaultbtn:hover, .btn:hover, #searchsubmit:hover, #submit:hover, .submit:hover, .post-edit-link:hover, .more-link:hover, input[type="submit"]:hover, ul#filters li a:hover {
   background: #007ead;
   color: #fafafa;
}
.defaultbtn:active, .btn:active, .defaultbtn:active, #searchsubmit:active, #submit:active, .submit:active, .post-edit-link:active, .more-link:active, input[type="submit"]:active, ul#filters li a:active {
   color: #80bed6;
   background: #0078a5;
}

/* Mahesh */
input, textarea {
	/*color: #fff;*/
}

/* Mahesh */
#container {
	padding-top:10px;
}

#site-info {
	padding-top: 0px;
}

p.copyright a {
	color: #fff;
}

p.copyright a:hover {
	color: orange;
	text-decoration: none;
}

p.copyright {
	margin-top: 5px;
	margin-bottom: 5px;
}

.one-fourth {
	margin-right:0%;
}

.one-fourth a:hover{
	text-decoration:none;
}

.one-fourth h3{
	background: orange;
	color: #fff;
	padding-left:10px;
}

.one-fourth p{
	padding-left:10px;
	padding-right:15px;
}

.one-fourth h3 {  
  border-right: 2px solid #DDDCD6;
}

.one-fourth:nth-child(5) h3{  
  border-right: none;
}

.flex-direction-nav {
	display: none;
}

#contentwrap {
	clear:both;
}

#pc-portfolio ul li:last-child {
	border-bottom:none;
}


.content ul li {border-bottom: none;}

ul.filterable-grid li {border-bottom: 2px solid orange;}

div.one-fourth ul li a {border-bottom: 2px solid orange;}

#pc-portfolio .featured-image {
border: none;
}

#body-container {
min-width: 300px;
}

